.question-main-wrapper {
    max-width: 1100px;
    width: calc(100% - 164px);
    background-color: hsl(0, 0%, 100%);
    border-radius: 0;
    border: 1px solid hsl(210, 8%, 85%);
    border-top-width: 0;
    border-bottom-width: 0;
    border-left-width: 1px;
    border-right-width: 0;
    padding: calc(24px*1);
    box-sizing: border-box;
}

.question-header {
    flex-flow: row nowrap;
    justify-content: space-between;
}

.question-title {
    overflow-wrap: break-word;
}

.title-name {
    overflow-wrap: break-word;
    font-size: 2.07692308rem;
    margin-bottom: calc(8px*1);
    flex: 1 auto;
    line-height: 1.3;
    margin: 0 0 1em;
}

.ask-button-wrapper {
    margin-left: 100%;
    display: inline-block;
    position: relative;
}

.ask-button {
    background-color: rgb(0, 162, 255);
    border-color: rgb(0, 162, 255);
    color: white;
    width: 150%;
    padding: 10px 10px;
}

.question-info {
    display: flex;
    padding-bottom: calc(8px*1);
    margin-bottom: calc(16px*1);
    flex-wrap: wrap;
    border-color: hsl(210,8%,90%);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.info-timeline {
    white-space: nowrap;
    margin-bottom: calc(8px*1);
    margin-right: calc(16px*1);
}

.timeline-name {
    color: hsl(210, 8%, 45%);
    margin-right: calc(8px*1);
}

.question-layout {
    display: grid;
    grid-template-columns: max-content 1fr;
}

.question-layout-left {
    width: auto;
    padding-right: calc(16px*1);
    vertical-align: top;
    grid-column: 1;
}

.vote-group {
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    margin: calc((4px*1) / 2 * -1);
    color: hsl(210, 8%, 75%);
}

.vote-up, .vote-down {
    margin: calc((4px*1) / 2);
    --_bu-baw: 0;
    outline: initial;
    cursor: pointer;
    border: none;
    background-color: white;
}

.vote-total {
    margin: calc((4px*1) / 2);
    display: flex;
    font-size: 1.61538462rem;
    align-items: center;
    flex-direction: column;
    color: hsl(210, 8%, 45%);
    box-sizing: inherit;
}

.answer-title {
    font-weight: 400;
    padding-top: 20px;
    font-size: 1.46153846rem;
    line-height: 1.3;
    margin: 0 0 1em;
}

.int {
    width: 100%;
    height: 200px;
    font-size: 1.15384615rem;
    tab-size: 4;
    padding: 10px;
    margin: -1px 0 0;
}

.answer-submit {
    padding: 10px 0 15px 0;
    clear: both;
    display: flex;
    margin-top: 0;
    margin-bottom: 0;
    margin: calc((4px*1) / 2 * -1);
}

.answer-btu {
    margin-top: 0;
    margin-bottom: 0;
    margin: calc((4px*1) / 2);
    background-color: rgb(0, 162, 255);
    border-color: rgb(0, 162, 255);
    color: white;
    width: 13%;
    padding: 10px 10px;
}

.question-body {
    width: 100%;
}